<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="AsyncSQLConnectionString" connectionString="Server=YA-SQL01; Database=FilevineExpenseSync; User ID=sa;Password=7cYIJhcOYK6Mmc1g;" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Server=localhost,1600; Database=PCLAWDB_23774; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="ITGSQL" connectionString="DSN=FairCom 32bit Driver;" providerName="System.Data.Odbc"/>
    <!--credentials-->
    <!--Comment Server=localhost,1600; Initial Catalog=ChangeTrackingDB;User ID=CommanderAPI;Password=tempUmetech"/>-->
    <!--";Server=localhost,1600; Initial Catalog=FilevineExpenseSync; Database=FilevineExpenseSync; Trusted_Connection=True; Integrated Security=True;"-->
  </connectionStrings>
  <appSettings>
    <add key="fvpk_0059c924-4c94-3e95-c13a-99e53c143cff" value="Setting1" />
    <add key="fvsk_d07deb787ea4c9e44d73aa575385ed28df43951094cc8af1d003467c844de24c" value="Setting2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>